{"openapi":"3.1.0","info":{"title":"Builders MVP API","version":"v1"},"servers":[{"url":"https://api.melonnetherapists.com","description":"Generated server url"}],"security":[{"bearerAuth":[]}],"tags":[{"name":"게시글","description":"게시글 CRUD + 검색/필터"},{"name":"스크랩","description":"게시글 스크랩 추가/삭제/목록"},{"name":"마이페이지","description":"내 정보, 내 게시글/댓글, 프로필 수정, 회원 탈퇴"},{"name":"첨부파일","description":"게시글 첨부파일 업로드, 다운로드, 삭제"},{"name":"관리자 — 치료사 인증","description":"치료사 인증 심사 (승인/거절)"},{"name":"댓글 리액션","description":"댓글 좋아요/싫어요 토글"},{"name":"받은 자료함","description":"다운로드한 자료 목록"},{"name":"약관","description":"이용약관, 개인정보처리방침 조회"},{"name":"알림","description":"SSE 실시간 알림 + 알림 관리 API"},{"name":"게시글 이미지","description":"게시글 이미지 업로드, 목록 조회, 다운로드"},{"name":"치료사 인증","description":"치료사 자격 인증 신청 및 조회"},{"name":"게시글 리액션","description":"게시글 좋아요/싫어요 토글"},{"name":"댓글","description":"댓글/대댓글 CRUD"},{"name":"인증","description":"회원가입, 로그인, 토큰 갱신, 로그아웃"}],"paths":{"/api/v1/posts/{postId}/reaction":{"get":{"tags":["게시글 리액션"],"summary":"리액션 상태 조회","description":"현재 유저의 리액션 상태와 전체 카운트","operationId":"getReactionStatus","parameters":[{"name":"postId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePostReactionStatusResponse"}}}}}},"put":{"tags":["게시글 리액션"],"summary":"리액션 토글","description":"같은 타입 재요청 시 취소, 다른 타입이면 전환","operationId":"toggleReaction","parameters":[{"name":"postId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TogglePostReactionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePostReactionStatusResponse"}}}}}}},"/api/v1/comments/{commentId}/reaction":{"get":{"tags":["댓글 리액션"],"summary":"리액션 상태 조회","operationId":"getReactionStatus_1","parameters":[{"name":"commentId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseCommentReactionStatusResponse"}}}}}},"put":{"tags":["댓글 리액션"],"summary":"리액션 토글","operationId":"toggleReaction_1","parameters":[{"name":"commentId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToggleCommentReactionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseCommentReactionStatusResponse"}}}}}}},"/api/v1/therapist-verifications":{"post":{"tags":["치료사 인증"],"summary":"치료사 인증 신청","description":"자격증 이미지 + 자격번호 제출. 신청 즉시 THERAPIST로 승격","operationId":"apply","requestBody":{"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/ApplyTherapistVerificationRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseTherapistVerificationResponse"}}}}}}},"/api/v1/posts":{"get":{"tags":["게시글"],"summary":"게시글 목록/검색","description":"keyword(초성/텍스트), therapyArea, postType 필터. sortType: LATEST, MOST_VIEWED","operationId":"getPosts","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"sortType","in":"query","required":false,"schema":{"type":"string","default":"LATEST","enum":["LATEST","MOST_VIEWED"]}},{"name":"keyword","in":"query","required":false,"schema":{"type":"string"}},{"name":"therapyArea","in":"query","required":false,"schema":{"type":"string","enum":["UNSPECIFIED","SENSORY_INTEGRATION","SPEECH","OCCUPATIONAL","COGNITIVE","PHYSICAL","ART","MUSIC","PLAY","BEHAVIOR"]}},{"name":"postType","in":"query","required":false,"schema":{"type":"string","enum":["COMMUNITY","RESOURCE"]}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePagedResponseTherapyPostSummaryResponse"}}}}},"security":[{"bearerAuth":[]}]},"post":{"tags":["게시글"],"summary":"게시글 작성","description":"제목, 본문, 치료영역, 연령대 입력. postType은 첨부파일 유무로 자동 결정","operationId":"createPost","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateTherapyPostRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseTherapyPostDetailResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/posts/{postId}/scrap":{"get":{"tags":["스크랩"],"summary":"스크랩 상태 조회","operationId":"getScrapStatus","parameters":[{"name":"postId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseScrapStatusResponse"}}}}}},"post":{"tags":["스크랩"],"summary":"스크랩 추가","operationId":"addScrap","parameters":[{"name":"postId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseScrapStatusResponse"}}}}}},"delete":{"tags":["스크랩"],"summary":"스크랩 삭제","operationId":"removeScrap","parameters":[{"name":"postId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseScrapStatusResponse"}}}}}}},"/api/v1/posts/{postId}/images":{"get":{"tags":["게시글 이미지"],"summary":"이미지 목록 조회","operationId":"getImages","parameters":[{"name":"postId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListPostImageResponse"}}}}},"security":[{"bearerAuth":[]}]},"post":{"tags":["게시글 이미지"],"summary":"이미지 업로드","description":"jpg/png/webp, 5MB 이하","operationId":"uploadImage","parameters":[{"name":"postId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"}},"required":["file"]}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePostImageResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/posts/{postId}/comments":{"get":{"tags":["댓글"],"summary":"댓글 목록 조회","description":"게시글의 댓글 + 대댓글 트리 구조로 반환","operationId":"getComments","parameters":[{"name":"postId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListCommentResponse"}}}}}},"post":{"tags":["댓글"],"summary":"댓글 작성","description":"parentCommentId 지정 시 대댓글. 2단계까지만 허용","operationId":"createComment","parameters":[{"name":"postId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCommentRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseCommentResponse"}}}}}}},"/api/v1/posts/{postId}/attachments":{"post":{"tags":["첨부파일"],"summary":"첨부파일 업로드","description":"파일 업로드 시 게시글 postType이 RESOURCE로 자동 변경","operationId":"uploadAttachment","parameters":[{"name":"postId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"}},"required":["file"]}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePostAttachmentResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/me/profile-image":{"post":{"tags":["마이페이지"],"summary":"프로필 이미지 업로드","description":"이미지 파일 업로드 → URL 반환. jpg/png/webp, 5MB 이하","operationId":"uploadProfileImage","requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"}},"required":["file"]}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMapStringString"}}}}}}},"/api/v1/auth/signup":{"post":{"tags":["인증"],"summary":"회원가입","description":"이메일, 비밀번호(8자 이상), 약관 동의로 가입. 닉네임 자동 생성, 자동 로그인","operationId":"signup","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SignupRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseSignupResponse"}}}}}}},"/api/v1/auth/refresh":{"post":{"tags":["인증"],"summary":"토큰 갱신","description":"refresh token 쿠키로 새 access token 발급 (토큰 로테이션)","operationId":"refresh","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseRefreshResponse"}}}}}}},"/api/v1/auth/logout":{"post":{"tags":["인증"],"summary":"로그아웃","description":"refresh token 폐기 + 쿠키 만료","operationId":"logout","responses":{"200":{"description":"OK"}}}},"/api/v1/auth/login":{"post":{"tags":["인증"],"summary":"로그인","description":"이메일/비밀번호 인증 후 access token + refresh token 쿠키 발급","operationId":"login","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseLoginResponse"}}}}}}},"/api/v1/admin/therapist-verifications/{verificationId}/reject":{"post":{"tags":["관리자 — 치료사 인증"],"summary":"인증 거절","description":"PENDING → REJECTED + 유저 USER로 강등. 거절 사유 필수","operationId":"reject","parameters":[{"name":"verificationId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RejectTherapistVerificationRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseTherapistVerificationResponse"}}}}}}},"/api/v1/admin/therapist-verifications/{verificationId}/approve":{"post":{"tags":["관리자 — 치료사 인증"],"summary":"인증 승인","description":"PENDING → APPROVED. 유저는 이미 THERAPIST 상태","operationId":"approve","parameters":[{"name":"verificationId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseTherapistVerificationResponse"}}}}}}},"/api/v1/posts/{postId}":{"get":{"tags":["게시글"],"summary":"게시글 상세 조회","description":"조회수 자동 증가, 첨부파일 목록 포함","operationId":"getPostDetail","parameters":[{"name":"postId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseTherapyPostDetailResponse"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["게시글"],"summary":"게시글 삭제","description":"soft delete. 작성자 또는 관리자만 삭제 가능","operationId":"deletePost","parameters":[{"name":"postId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]},"patch":{"tags":["게시글"],"summary":"게시글 수정","description":"작성자 또는 관리자만 수정 가능","operationId":"updatePost","parameters":[{"name":"postId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateTherapyPostRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseTherapyPostDetailResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/notifications/{notificationId}/read":{"patch":{"tags":["알림"],"summary":"단건 읽음 처리","operationId":"markAsRead","parameters":[{"name":"notificationId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/api/v1/notifications/read-all":{"patch":{"tags":["알림"],"summary":"전체 읽음 처리","operationId":"markAllAsRead","responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/api/v1/me":{"get":{"tags":["마이페이지"],"summary":"내 정보 조회","description":"현재 로그인한 유저 정보 + 치료사 인증 상태","operationId":"getCurrentUser","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseCurrentUserResponse"}}}}}},"delete":{"tags":["마이페이지"],"summary":"회원 탈퇴","description":"계정 soft delete + 토큰 전체 폐기 + 쿠키 만료","operationId":"withdraw","responses":{"200":{"description":"OK"}}},"patch":{"tags":["마이페이지"],"summary":"프로필 수정","description":"닉네임(2~20자), 프로필 이미지 URL 변경. null이면 기존 값 유지","operationId":"updateProfile","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateProfileRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseCurrentUserResponse"}}}}}}},"/api/v1/comments/{commentId}":{"delete":{"tags":["댓글"],"summary":"댓글 삭제","description":"soft delete. 작성자 또는 관리자만 삭제 가능","operationId":"deleteComment","parameters":[{"name":"commentId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}},"patch":{"tags":["댓글"],"summary":"댓글 수정","description":"작성자 또는 관리자만 수정 가능","operationId":"updateComment","parameters":[{"name":"commentId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateCommentRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseCommentResponse"}}}}}}},"/api/v1/therapist-verifications/me":{"get":{"tags":["치료사 인증"],"summary":"내 인증 현황 조회","operationId":"getMyVerification","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseTherapistVerificationResponse"}}}}}}},"/api/v1/therapist-verifications/me/image":{"get":{"tags":["치료사 인증"],"summary":"내 자격증 이미지 다운로드","operationId":"downloadMyVerificationImage","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string","format":"binary"}}}}}}},"/api/v1/terms/service":{"get":{"tags":["약관"],"summary":"이용약관 URL","description":"S3 presigned URL (10분 유효)","operationId":"getTermsUrl","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMapStringString"}}}}}}},"/api/v1/terms/privacy":{"get":{"tags":["약관"],"summary":"개인정보처리방침 URL","description":"S3 presigned URL (10분 유효)","operationId":"getPrivacyUrl","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMapStringString"}}}}}}},"/api/v1/posts/{postId}/images/{imageId}":{"get":{"tags":["게시글 이미지"],"summary":"이미지 다운로드","operationId":"downloadImage","parameters":[{"name":"postId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"imageId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string","format":"binary"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/posts/{postId}/attachments/{attachmentId}/download":{"get":{"tags":["첨부파일"],"summary":"첨부파일 다운로드","description":"다운로드 이력 자동 기록","operationId":"downloadAttachment","parameters":[{"name":"postId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"attachmentId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string","format":"binary"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/posts/feed":{"get":{"tags":["게시글"],"summary":"게시글 피드 (무한스크롤)","description":"LATEST 고정, 커서 기반 페이지네이션. size + cursor만 사용","operationId":"getPostsFeed","parameters":[{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}},{"name":"cursor","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseCursorPagedResponseTherapyPostSummaryResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/notifications":{"get":{"tags":["알림"],"summary":"알림 목록 조회","description":"페이징 지원. 최신순 정렬","operationId":"getNotifications","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePagedResponseNotificationResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/notifications/unread-count":{"get":{"tags":["알림"],"summary":"미읽은 알림 수","operationId":"getUnreadCount","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseUnreadCountResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/notifications/subscribe":{"get":{"tags":["알림"],"summary":"SSE 알림 구독","description":"text/event-stream으로 실시간 알림 수신. Last-Event-ID 헤더로 유실 이벤트 복구","operationId":"subscribe","parameters":[{"name":"Last-Event-ID","in":"header","required":false,"schema":{"type":"string","default":""}}],"responses":{"200":{"description":"OK","content":{"text/event-stream":{"schema":{"$ref":"#/components/schemas/SseEmitter"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/me/scraps":{"get":{"tags":["스크랩"],"summary":"내 스크랩 목록","description":"스크랩한 게시글 목록 (페이징)","operationId":"getMyScraps","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePagedResponseScrappedPostResponse"}}}}}}},"/api/v1/me/profile-image/profile-images/{filename}":{"get":{"tags":["마이페이지"],"summary":"프로필 이미지 조회","description":"인증 불필요. 프로필 이미지 파일 반환","operationId":"getProfileImage","parameters":[{"name":"filename","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string","format":"binary"}}}}}}},"/api/v1/me/posts":{"get":{"tags":["마이페이지"],"summary":"내가 쓴 게시글","description":"내가 작성한 게시글 목록 (최신순, 페이징)","operationId":"getMyPosts","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePagedResponseTherapyPostSummaryResponse"}}}}}}},"/api/v1/me/downloads":{"get":{"tags":["받은 자료함"],"summary":"받은 자료 목록","description":"다운로드한 자료 게시글 목록 (최신순, 페이징)","operationId":"getMyDownloads","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePagedResponseDownloadedPostResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/me/comments":{"get":{"tags":["마이페이지"],"summary":"내가 쓴 댓글","description":"내가 작성한 댓글 목록 (삭제된 댓글 포함, content 마스킹)","operationId":"getMyComments","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePagedResponseMyCommentResponse"}}}}}}},"/api/v1/home":{"get":{"tags":["home-controller"],"operationId":"home","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMapStringString"}}}}}}},"/api/v1/admin/therapist-verifications":{"get":{"tags":["관리자 — 치료사 인증"],"summary":"인증 신청 목록","description":"상태별 필터(PENDING/APPROVED/REJECTED), 페이징","operationId":"getVerifications","parameters":[{"name":"status","in":"query","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePagedResponseTherapistVerificationResponse"}}}}}}},"/api/v1/admin/therapist-verifications/{verificationId}/image":{"get":{"tags":["관리자 — 치료사 인증"],"summary":"자격증 이미지 다운로드","operationId":"downloadVerificationImage","parameters":[{"name":"verificationId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string","format":"binary"}}}}}}},"/api/v1/posts/{postId}/attachments/{attachmentId}":{"delete":{"tags":["첨부파일"],"summary":"첨부파일 삭제","description":"마지막 첨부파일 삭제 시 postType이 COMMUNITY로 롤백","operationId":"deleteAttachment","parameters":[{"name":"postId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"attachmentId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/api/v1/notifications/{notificationId}":{"delete":{"tags":["알림"],"summary":"알림 삭제","operationId":"deleteNotification","parameters":[{"name":"notificationId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}}},"components":{"schemas":{"TogglePostReactionRequest":{"type":"object","properties":{"reactionType":{"type":"string","enum":["EMPATHY","APPRECIATE","HELPFUL"]}},"required":["reactionType"]},"ApiResponsePostReactionStatusResponse":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"$ref":"#/components/schemas/PostReactionStatusResponse"}}},"PostReactionStatusResponse":{"type":"object","properties":{"postId":{"type":"integer","format":"int64"},"empathyCount":{"type":"integer","format":"int64"},"appreciateCount":{"type":"integer","format":"int64"},"helpfulCount":{"type":"integer","format":"int64"},"myReactionType":{"type":"string","enum":["EMPATHY","APPRECIATE","HELPFUL"]},"reactionCounts":{"type":"object","additionalProperties":{"type":"integer","format":"int64"}},"topReactionType":{"type":"string","enum":["EMPATHY","APPRECIATE","HELPFUL"]},"topReactionCount":{"type":"integer","format":"int64"},"topReactionColorToken":{"type":"string"}}},"ToggleCommentReactionRequest":{"type":"object","properties":{"reactionType":{"type":"string","enum":["LIKE","DISLIKE"]}},"required":["reactionType"]},"ApiResponseCommentReactionStatusResponse":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"$ref":"#/components/schemas/CommentReactionStatusResponse"}}},"CommentReactionStatusResponse":{"type":"object","properties":{"commentId":{"type":"integer","format":"int64"},"likeCount":{"type":"integer","format":"int64"},"dislikeCount":{"type":"integer","format":"int64"},"myReactionType":{"type":"string","enum":["LIKE","DISLIKE"]}}},"ApplyTherapistVerificationRequest":{"type":"object","properties":{"licenseCode":{"type":"string"},"licenseImage":{"type":"string","format":"binary"}},"required":["licenseCode","licenseImage"]},"ApiResponseTherapistVerificationResponse":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"$ref":"#/components/schemas/TherapistVerificationResponse"}}},"TherapistVerificationResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"userId":{"type":"integer","format":"int64"},"userEmail":{"type":"string"},"userNickname":{"type":"string"},"licenseCode":{"type":"string"},"licenseImageOriginName":{"type":"string"},"licenseImageDownloadUrl":{"type":"string"},"status":{"type":"string","enum":["PENDING","APPROVED","REJECTED"]},"reviewedById":{"type":"integer","format":"int64"},"reviewedByNickname":{"type":"string"},"reviewedAt":{"type":"string","format":"date-time"},"rejectReason":{"type":"string"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"demoted":{"type":"boolean"}}},"CreateTherapyPostRequest":{"type":"object","properties":{"content":{"type":"string"},"therapyArea":{"type":"string","enum":["UNSPECIFIED","SENSORY_INTEGRATION","SPEECH","OCCUPATIONAL","COGNITIVE","PHYSICAL","ART","MUSIC","PLAY","BEHAVIOR"]},"visibility":{"type":"string","enum":["PUBLIC","PRIVATE"]}},"required":["content"]},"ApiResponseTherapyPostDetailResponse":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"$ref":"#/components/schemas/TherapyPostDetailResponse"}}},"PostAttachmentResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"originalFilename":{"type":"string"},"contentType":{"type":"string"},"sizeBytes":{"type":"integer","format":"int64"},"extension":{"type":"string"},"downloadUrl":{"type":"string"},"createdAt":{"type":"string","format":"date-time"}}},"TherapyPostDetailResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"content":{"type":"string"},"postType":{"type":"string","enum":["COMMUNITY","RESOURCE"]},"authorId":{"type":"integer","format":"int64"},"authorNickname":{"type":"string"},"therapyArea":{"type":"string","enum":["UNSPECIFIED","SENSORY_INTEGRATION","SPEECH","OCCUPATIONAL","COGNITIVE","PHYSICAL","ART","MUSIC","PLAY","BEHAVIOR"]},"visibility":{"type":"string","enum":["PUBLIC","PRIVATE"]},"viewCount":{"type":"integer","format":"int64"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"canEdit":{"type":"boolean"},"canDelete":{"type":"boolean"},"attachments":{"type":"array","items":{"$ref":"#/components/schemas/PostAttachmentResponse"}},"scrapped":{"type":"boolean"}}},"ApiResponseScrapStatusResponse":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"$ref":"#/components/schemas/ScrapStatusResponse"}}},"ScrapStatusResponse":{"type":"object","properties":{"postId":{"type":"integer","format":"int64"},"scrapped":{"type":"boolean"}}},"ApiResponsePostImageResponse":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"$ref":"#/components/schemas/PostImageResponse"}}},"PostImageResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"imageUrl":{"type":"string"},"originalFilename":{"type":"string"},"displayOrder":{"type":"integer","format":"int32"},"createdAt":{"type":"string","format":"date-time"}}},"CreateCommentRequest":{"type":"object","properties":{"content":{"type":"string"},"parentCommentId":{"type":"integer","format":"int64"}},"required":["content"]},"ApiResponseCommentResponse":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"$ref":"#/components/schemas/CommentResponse"}}},"CommentResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"postId":{"type":"integer","format":"int64"},"parentCommentId":{"type":"integer","format":"int64"},"authorId":{"type":"integer","format":"int64"},"authorNickname":{"type":"string"},"authorRole":{"type":"string"},"content":{"type":"string"},"deleted":{"type":"boolean"},"canEdit":{"type":"boolean"},"canDelete":{"type":"boolean"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"replies":{"type":"array","items":{"$ref":"#/components/schemas/ReplyCommentResponse"}}}},"ReplyCommentResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"postId":{"type":"integer","format":"int64"},"parentCommentId":{"type":"integer","format":"int64"},"authorId":{"type":"integer","format":"int64"},"authorNickname":{"type":"string"},"authorRole":{"type":"string"},"content":{"type":"string"},"deleted":{"type":"boolean"},"canEdit":{"type":"boolean"},"canDelete":{"type":"boolean"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"ApiResponsePostAttachmentResponse":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"$ref":"#/components/schemas/PostAttachmentResponse"}}},"ApiResponseMapStringString":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"type":"object","additionalProperties":{"type":"string"}}}},"AgreementRequest":{"type":"object","properties":{"type":{"type":"string","pattern":"SERVICE_TERMS|PRIVACY_POLICY|MARKETING"},"version":{"type":"string"},"agreed":{"type":"boolean"}},"required":["type","version"]},"SignupRequest":{"type":"object","properties":{"email":{"type":"string"},"password":{"type":"string","maxLength":2147483647,"minLength":8},"agreements":{"type":"array","items":{"$ref":"#/components/schemas/AgreementRequest"}}},"required":["agreements","email","password"]},"ApiResponseSignupResponse":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"$ref":"#/components/schemas/SignupResponse"}}},"SignupResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"email":{"type":"string"},"nickname":{"type":"string"},"accessToken":{"type":"string"},"role":{"type":"string"}}},"ApiResponseRefreshResponse":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"$ref":"#/components/schemas/RefreshResponse"}}},"RefreshResponse":{"type":"object","properties":{"accessToken":{"type":"string"},"accessTokenExpiresInSec":{"type":"integer","format":"int64"}}},"LoginRequest":{"type":"object","properties":{"email":{"type":"string"},"password":{"type":"string"}},"required":["email","password"]},"ApiResponseLoginResponse":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"$ref":"#/components/schemas/LoginResponse"}}},"CurrentUserResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"email":{"type":"string"},"nickname":{"type":"string"},"profileImageUrl":{"type":"string"},"role":{"type":"string"},"canAccessCommunity":{"type":"boolean"},"communityAccessLevel":{"type":"string"},"therapistVerification":{"$ref":"#/components/schemas/TherapistVerificationSummary"}}},"LoginResponse":{"type":"object","properties":{"user":{"$ref":"#/components/schemas/CurrentUserResponse"},"tokens":{"$ref":"#/components/schemas/Tokens"}}},"TherapistVerificationSummary":{"type":"object","properties":{"status":{"type":"string"},"requestedAt":{"type":"string","format":"date-time"},"reviewedAt":{"type":"string","format":"date-time"},"rejectionReason":{"type":"string"}}},"Tokens":{"type":"object","properties":{"accessToken":{"type":"string"},"accessTokenExpiresInSec":{"type":"integer","format":"int64"}}},"RejectTherapistVerificationRequest":{"type":"object","properties":{"rejectReason":{"type":"string"}},"required":["rejectReason"]},"UpdateTherapyPostRequest":{"type":"object","properties":{"content":{"type":"string"},"therapyArea":{"type":"string","enum":["UNSPECIFIED","SENSORY_INTEGRATION","SPEECH","OCCUPATIONAL","COGNITIVE","PHYSICAL","ART","MUSIC","PLAY","BEHAVIOR"]},"visibility":{"type":"string","enum":["PUBLIC","PRIVATE"]}},"required":["content"]},"UpdateProfileRequest":{"type":"object","properties":{"nickname":{"type":"string","maxLength":20,"minLength":2},"profileImageUrl":{"type":"string"}}},"ApiResponseCurrentUserResponse":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"$ref":"#/components/schemas/CurrentUserResponse"}}},"UpdateCommentRequest":{"type":"object","properties":{"content":{"type":"string"}},"required":["content"]},"ApiResponsePagedResponseTherapyPostSummaryResponse":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"$ref":"#/components/schemas/PagedResponseTherapyPostSummaryResponse"}}},"PagedResponseTherapyPostSummaryResponse":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/TherapyPostSummaryResponse"}},"page":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"hasNext":{"type":"boolean"}}},"TherapyPostSummaryResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"postType":{"type":"string","enum":["COMMUNITY","RESOURCE"]},"contentPreview":{"type":"string"},"authorNickname":{"type":"string"},"therapyArea":{"type":"string","enum":["UNSPECIFIED","SENSORY_INTEGRATION","SPEECH","OCCUPATIONAL","COGNITIVE","PHYSICAL","ART","MUSIC","PLAY","BEHAVIOR"]},"visibility":{"type":"string","enum":["PUBLIC","PRIVATE"]},"viewCount":{"type":"integer","format":"int64"},"createdAt":{"type":"string","format":"date-time"},"scrapped":{"type":"boolean"}}},"ApiResponseListPostImageResponse":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"type":"array","items":{"$ref":"#/components/schemas/PostImageResponse"}}}},"ApiResponseListCommentResponse":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"type":"array","items":{"$ref":"#/components/schemas/CommentResponse"}}}},"ApiResponseCursorPagedResponseTherapyPostSummaryResponse":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"$ref":"#/components/schemas/CursorPagedResponseTherapyPostSummaryResponse"}}},"CursorPagedResponseTherapyPostSummaryResponse":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/TherapyPostSummaryResponse"}},"nextCursor":{"type":"string"},"hasNext":{"type":"boolean"},"size":{"type":"integer","format":"int32"}}},"ApiResponsePagedResponseNotificationResponse":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"$ref":"#/components/schemas/PagedResponseNotificationResponse"}}},"NotificationResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"type":{"type":"string","enum":["NEW_COMMENT","NEW_REPLY","NEW_POST_REACTION","NEW_COMMENT_REACTION","NEW_SCRAP","VERIFICATION_SUBMITTED","VERIFICATION_APPROVED","VERIFICATION_REJECTED"]},"content":{"type":"string"},"referenceId":{"type":"integer","format":"int64"},"senderId":{"type":"integer","format":"int64"},"senderNickname":{"type":"string"},"read":{"type":"boolean"},"readAt":{"type":"string","format":"date-time"},"createdAt":{"type":"string","format":"date-time"}}},"PagedResponseNotificationResponse":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/NotificationResponse"}},"page":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"hasNext":{"type":"boolean"}}},"ApiResponseUnreadCountResponse":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"$ref":"#/components/schemas/UnreadCountResponse"}}},"UnreadCountResponse":{"type":"object","properties":{"count":{"type":"integer","format":"int64"}}},"SseEmitter":{"type":"object","properties":{"timeout":{"type":"integer","format":"int64"}}},"ApiResponsePagedResponseScrappedPostResponse":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"$ref":"#/components/schemas/PagedResponseScrappedPostResponse"}}},"PagedResponseScrappedPostResponse":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/ScrappedPostResponse"}},"page":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"hasNext":{"type":"boolean"}}},"ScrappedPostResponse":{"type":"object","properties":{"postId":{"type":"integer","format":"int64"},"contentPreview":{"type":"string"},"authorNickname":{"type":"string"},"therapyArea":{"type":"string","enum":["UNSPECIFIED","SENSORY_INTEGRATION","SPEECH","OCCUPATIONAL","COGNITIVE","PHYSICAL","ART","MUSIC","PLAY","BEHAVIOR"]},"ageGroup":{"type":"string","enum":["UNSPECIFIED","AGE_0_2","AGE_3_5","AGE_6_12","AGE_13_18","AGE_19_64","AGE_65_PLUS"]},"viewCount":{"type":"integer","format":"int64"},"postCreatedAt":{"type":"string","format":"date-time"},"scrappedAt":{"type":"string","format":"date-time"}}},"ApiResponsePagedResponseDownloadedPostResponse":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"$ref":"#/components/schemas/PagedResponseDownloadedPostResponse"}}},"DownloadedPostResponse":{"type":"object","properties":{"postId":{"type":"integer","format":"int64"},"postType":{"type":"string","enum":["COMMUNITY","RESOURCE"]},"contentPreview":{"type":"string"},"authorNickname":{"type":"string"},"therapyArea":{"type":"string","enum":["UNSPECIFIED","SENSORY_INTEGRATION","SPEECH","OCCUPATIONAL","COGNITIVE","PHYSICAL","ART","MUSIC","PLAY","BEHAVIOR"]},"ageGroup":{"type":"string","enum":["UNSPECIFIED","AGE_0_2","AGE_3_5","AGE_6_12","AGE_13_18","AGE_19_64","AGE_65_PLUS"]},"firstDownloadedAt":{"type":"string","format":"date-time"},"lastDownloadedAt":{"type":"string","format":"date-time"},"downloadCount":{"type":"integer","format":"int64"}}},"PagedResponseDownloadedPostResponse":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/DownloadedPostResponse"}},"page":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"hasNext":{"type":"boolean"}}},"ApiResponsePagedResponseMyCommentResponse":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"$ref":"#/components/schemas/PagedResponseMyCommentResponse"}}},"MyCommentResponse":{"type":"object","properties":{"commentId":{"type":"integer","format":"int64"},"content":{"type":"string"},"postId":{"type":"integer","format":"int64"},"createdAt":{"type":"string","format":"date-time"},"isDeleted":{"type":"boolean"}}},"PagedResponseMyCommentResponse":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/MyCommentResponse"}},"page":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"hasNext":{"type":"boolean"}}},"ApiResponsePagedResponseTherapistVerificationResponse":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"$ref":"#/components/schemas/PagedResponseTherapistVerificationResponse"}}},"PagedResponseTherapistVerificationResponse":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/TherapistVerificationResponse"}},"page":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"hasNext":{"type":"boolean"}}}},"securitySchemes":{"bearerAuth":{"type":"http","in":"header","scheme":"bearer","bearerFormat":"JWT"}}}}